.form-title {
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}

.form-title h1 {
    color: var(--text-color-blue);
    margin-bottom: 0;
    justify-self: center;
    font-size: 1.8rem;
}

.form-title p {
    margin-top: 5px;
    font-size: 1rem;
}

.form-input {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
}

.form-field {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
}

.form-field label {
    margin-bottom: 5px;
}

.form-field.footer {
    margin: 0 auto;
    margin-bottom: 10px;
    text-align: center;
}

.password-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dark .input-field {
    background-color: var(--bg-color);
    color: var(--text-color);
    border-color: var(--border-color);
}

.dark .input-field:focus {
    background-color: #2a2a2a;
}

.input-field,
.submit-btn {
    width: 100%;
    border-radius: var(--radius);
    color: var(--input-text);
    padding: 8px;
    border: 1px solid var(--border-color);
    height: 50px;
    background-color: var(--input-bg);
    font-size: 1.1rem;
}

.input-field:focus {
    outline: none;
    border: 2px solid var(--text-color-blue);
    box-shadow: 0 0 5px rgba(54, 104, 126, 0.5);
    background-color: #f9f9f9;
}

.input-field::placeholder {
    font-size: 0.9rem;
}

.checkbox-field {
    transform: scale(1.5);
    margin: 0px 8px 0px 8px;
    padding: 8px;
}

.submit-btn {
    color: white;
    background-color: var(--text-color-blue);
    border: none;
    cursor: pointer;
}

.submit-btn:hover {
    background-color: #2a5062;
    box-shadow: 0 4px 8px var(--shadow-color);
}

a {
    color: var(--text-color-blue);
    text-decoration: none;
}

.password-container {
    position: relative;
    width: 100%;
}

.toggle-password-icon {
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
    width: 30px;
    height: 30px;
    cursor: pointer;
    opacity: 0.6;
}

.dark .toggle-password-icon {
    filter: brightness(0) invert(1);
}

.toggle-password-icon:hover {
    opacity: 1;
}