@media screen and (max-width: 992px) {
    .container-content {
        flex-direction: column;
        height: auto;
        padding: 20px;
    }

    .left-section,
    .right-section {
        width: 90%;
    }
}